:root {
  --font-s1-pc: 31.25px;
  --font-s2-pc: 25px;
  --font-s3-pc: 20px;
  --font-body-pc: 16px;
  --font-s1-sp: 25.39px;
  --font-s2-sp: 20.31px;
  --font-s3-sp: 16.25px;
  --font-body-sp: 13px;
  --font-family__pinyon-script: "Pinyon Script";
  --font-family__piazzolla: "Piazzolla";
}
.font-family__pinyon-script {
  font-family: var(--font-family__pinyon-script);
}
.font-family__piazzolla {
  font-family: var(--font-family__piazzolla);
}
.font-size__s1 {
  font-size: var(--font-s1-sp);
}
.font-size__s2 {
  font-size: var(--font-s2-sp);
}
.font-size__s3 {
  font-size: var(--font-s3-sp);
}
.font-size__body {
  font-size: var(--font-body-sp);
}

/* Mobile first styles */
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background-sp.jpg") no-repeat center center/cover;
  z-index: -1;
}
.container {
  background: rgba(255, 255, 255, 0.4);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  width: 100%;
  text-align: center;
}
.invitation p {
  color: #422A1C;
  font-weight: 600;
  margin: 0;
  padding: 5px;
}
.invitation--guest-name {
  font-style: italic;
}
.character h1 {
  color: #8D311C;
  margin: 0;
  padding: 10px;
}
.details--normal {
  color: #422A1C;
  font-weight: 600;
  margin: 0;
  padding: 5px;
}
.details--date {
  color: #8D311C;
  font-weight: bold;
  padding: 0;
}
.details--location {
  color: #8D311C;
  font-weight: bold;
  padding: 0;
}
.confirmation--normal {
  color: #422A1C;
  font-weight: 600;
  margin: 0;
}
.confirmation--flower {
  color: #8D311C;
}

/* styling congratulation button*/
.wish-button-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}
.btn-primary:hover {
  background-color: #c04226;
}

/* styling footer*/
.footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 10px 15px;
}
.footer a {
  color: #007be5;
  text-decoration: none;
}

/* styling snowing-falling*/
svg.flakes {
  width: 12px;
  height: 12px;
  fill: #fff;
}
.snowing {
  position: fixed;
  top: -10%;
  z-index: 9999;
  animation-name: snowing-falling, snowing-waves;
  animation-duration: 6s, 3s;
  animation-timing-function: ease-in, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}

@keyframes snowing-falling {
  0% {top: -5%;}
  100% {top: 100%;}
}

@keyframes snowing-waves {
  0% {transform: translateX(0px);}
  30% {transform: translateX(60px);}
  60% {transform: translateX(40px);}
  100% {transform: translateX(0px);}
}

.snowing:nth-of-type(0) {
  left: 5%;
  animation-delay: 5s, 0s;
}
.snowing:nth-of-type(1) {
  left: 10%;
  animation-delay: 3s, 3s;
}
.snowing:nth-of-type(2) {
  left: 17%;
  animation-delay: 1s, 0.5s;
}
.snowing:nth-of-type(3) {
  left: 30%;
  animation-delay: 6s, 1.6s;
}
.snowing:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s, 2s;
}
.snowing:nth-of-type(5) {
  left: 50%;
  animation-delay: 7s, 3s;
}
.snowing:nth-of-type(6) {
  left: 60%;
  animation-delay: 4.5s, 2s;
}
.snowing:nth-of-type(7) {
  left: 70%;
  animation-delay: 3.5s, 1s;
}
.snowing:nth-of-type(8) {
  left: 80%;
  animation-delay: 2s, 1.4s;
}
.snowing:nth-of-type(9) {
  left: 90%;
  animation-delay: 4s, 2s;
}
/* Congratulations modle */
.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: #8D311C;;
  color: white;
}
.btn-primary:disabled {
  background-color: #999;
  cursor: not-allowed;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  text-align: left;
  position: relative;
}
.modal-content h2 {
  color: #8D311C;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}
.modal-content textarea {
  width: 94%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  resize: none;
}
.radio-group {
  margin: 20px 0;
}
.radio-group label {
  display: block;
  margin-bottom: 5px;
}
.radio-group p {
  margin-bottom: 10px;
  font-weight: bold;
}

/* Toast */
.toast {
  visibility: hidden;
  width: max-content;
  background-color: #999;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 10px 20px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show-success {
  visibility: visible;
  opacity: 1;
  background-color: #4CAF50;
}
.toast.show-error {
  visibility: visible;
  opacity: 1;
  background-color: #F44336;
}
.toast.show-info {
  visibility: visible;
  opacity: 1;
  background-color: #2196F3;
}

/* Tablet styles */
@media (min-width: 601px) {
  .container {
    padding: 15px;
    width: 40%;
    max-width: 460px;
  }
}

/* PC styles */
@media (min-width: 1201px) {
  .container {
    padding: 20px;
  }
  .font-size__s1 {
    font-size: var(--font-s1-pc);
  }
  .font-size__s2 {
    font-size: var(--font-s2-pc);
  }
  .font-size__s3 {
    font-size: var(--font-s3-pc);
  }
  .font-size__body {
    font-size: var(--font-body-pc);
  }
  .success-message {
    font-size: var(--font-s3-pc);
  }
  .warning-message {
    font-size: var(--font-s3-pc);
  }
}
